/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* BASE STYLES */
html {
  hanging-punctuation: first last;
  /* color-scheme: dark light; */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body > :is(header, footer),
main,
section,
article {
  container-type: inline-size;
}

body {
  min-height: 100svh;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  text-align: rigth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
  margin-block-end: 0;
}

main {
  width: min(55ch, 100% - 4rem);
  /* width: 100%; */
  /* max-width: 55ch; */
  margin-inline: auto;
  margin-bottom: 5rem;
  flex-grow: 1;
}

@media (max-width: 799px) {
  body {
    font-size: 1.2rem;
  }
  main {
    width: min(85ch, 100% - 4rem);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  text-align: start;
  margin-block-end: 0;
  line-height: 1.1;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

p,
li {
  max-width: 65ch;
  text-wrap: pretty;
  margin-block-end: 0;
  margin-left: 0;
  font-family: 'Cambo';
}

button,
input,
label {
  line-height: 1.1;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
/* ul[role='list'], */
/* ol[role='list'] { */
ul,
ol {
  list-style: square;
  /* list-style-position: inside; */
  /* padding-left: 1em; */
  /* text-indent: -0.5em; */
}

a {
  /* text-decoration: none; */
  color: var(--color-text);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--color-accent-orange);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  /* color: currentColor; */
}

img,
picture,
video {
  font-style: italic;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  shape-margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

hr {
  height: 0.5px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

figcaption {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* YOUR STYLES BELOW */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main,
footer {
  flex-shrink: 0;
}

.page-title {
  font-size: 5rem;
}

@media (max-width: 799px) {
  .page-title {
    font-size: 3rem;
  }
}

.tags {
  display: flex;
  gap: 0.3rem;
}

.tags a {
  font-family: 'Inter', sans-serif;
  font-size: small;
  text-transform: uppercase;
  background-color: var(--color-accent-lightorange);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  margin-right: 0.5rem;
  color: var(--color-text);
}

html[data-theme='dark'] .tags a {
  color: var(--color-text-alternate);
}

.tags a:hover {
  background-color: var(--color-accent-cyan);
  color: var(--color-text);
  text-decoration: none;
}
/* the styles are inside the individual relevant components' files */

/* UTILITY */

.italic-text {
  font-style: italic;
}

.visually-hidden {
  display: none;
}
