/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* BASE STYLES */
:root {
  --main-bg-color: #22232a;
  --main-tetx-color: white;
}

html {
  hanging-punctuation: first last;
  color-scheme: dark light;
}

body {
  min-height: 100svh;
  font-size: 1.125rem;
  line-height: 1.6;
  font-family: system-ui, sans-serif;
  margin: 2rem;
  background-color: var(--main-bg-color);
  color: var(--main-tetx-color);
}

main {
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li {
  max-width: 65ch;
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

img,
picture,
svg,
video {
  font-style: italic;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  shape-margin: 1rem;
}

footer {
  position: relative;
  bottom: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* YOUR STYLES BELOW */
.ascii-art {
  font-family: monospace;
  white-space: pre;
}

.welcome-section {
  margin-top: 4rem;
}
.welcome-message {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* UTILITY */
.visually-hidden {
  display: none;
}
