---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import aboutImage from '../assets/images/about/me_in_the_mountains.png';
const pageTitle = 'About me';
---

<style>
  #about-image {
    margin-bottom: 3rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <section id="about-section">
    <h1 class="page-title">{pageTitle}</h1>
    <Image
      src={aboutImage}
      alt="A photo of me from behind while walking uphill on a mountain trail"
      id="about-image"
    />
    <p>
      My name is Mauro and I'm an Italian citizen living in London, UK. I used
      to work as a <a href="/showreels/">motion designer</a> both in advertising
      and in the tech industry; but I've been working hard now to change my career
      completely and venture into web development / software engineering. I've just
      recently received my professional certificate from the university of <a
        href="/posts/2023-09-15-cs50-experience/">Harvard</a
      > and edX in <a
        href="https://credentials.edx.org/credentials/62bff0629c59455da7839cb5a1fd213f/"
      >
        "Computer Science for Web Programming"</a
      >, of which I'm very proud of, and I'm looking forward now to get my first
      job in the field. Wish me luck!
      <br />
      <br />
      <p>
        I am a proud antifascist, and I support the rights of women, LGBTQ+ and
        BIPOC communities.
      </p>
    </p>
    <h3 id="music">Music</h3>

    <p>
      I have a lifelong passion for music, jazz and its round abouts, metal and
      heavy music in general, electronica and IDM in particular but I tend to
      discover interesting new stuff pretty often in various other genres.
      Former guitar player, maybe a day I'll start playing live again?
    </p>
    <h3 id="mastodon">Mastodon</h3>

    <p>
      I'm also administrating a <a href="https://joinmastodon.org/">Mastodon</a>
      server on <a href="https://mograph.social">mograph.social</a>. This is an
      experiment aimed at trying to build a space for motion designers, VFX
      artists and similar outside of the mainstream platforms like Twitter or
      Facebook and bring some visual excitment into the <a
        href="https://fediverse.party/en/fediverse/">Fediverse</a
      >.
    </p>
    <h3 id="this-website">This website</h3>

    <p>
      The idea with this website is to create a place for things I discover and
      thougths I have in any of the fields I’m interested in. Be it web
      development, music, privacy, PKM systems (Personal Knowledge Management),
      or the Fediverse. And to keep hold on my own content without giving it for
      free to some evil corporation.
    </p>
    <p>
      Overall, I wish this space to become a little piece of the web for myself
      in the spirit of the <a href="https://indieweb.org/">IndieWeb</a>.
    </p>
  </section>
</BaseLayout>
