---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About me';
---

<BaseLayout pageTitle={pageTitle}>
  <p>About content here.</p>
</BaseLayout>
