---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Blogroll';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Blogroll content here.</p>
</BaseLayout>
