---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Changelog';
---

<BaseLayout pageTitle={pageTitle}>
  <section id="changelog-section">
    <h1 class="page-title">{pageTitle}</h1>
    <p class="italic-text page-explainer">
      Here I keep track of the changes to my personal website.
    </p>
    <h2>April 2025</h2>
    <h3>- 09 -</h3>
    <ul>
      <li>Adjusted the headings' sizes by using the major third scale</li>
    </ul>
    <h2>March 2025</h2>
    <h3>- 12 -</h3>
    <ul>
      <li>
        Set up robots.txt with the Astro Integration <a
          href="https://github.com/alextim/astro-lib/tree/main/packages/astro-robots-txt"
          >astro-robots-txt</a
        > and added the blocklist from <a
          href="https://github.com/ai-robots-txt/ai.robots.txt">ai.robots.txt</a
        >.
      </li>
    </ul>
    <h2>February 2025</h2>
    <h3>- 08 -</h3>
    <ul>
      <li>Styled the codeblocks.</li>
      <li>Styled the tables.</li>
    </ul>
    <h3>- 02 -</h3>
    <ul>
      <li>
        Replaced the serif font <a
          href="https://huertatipografica.com/en/fonts/cambo-ht">Cambo</a
        > with <a href="https://adobe-fonts.github.io/source-serif/"
          >Source Serif 4</a
        >.
      </li>
      <li>Added (this) Changelog page.</li>
      <li>Added the <a href="/colophon">Colophon</a> page.</li>
    </ul>
    <h2>January 2025</h2>
    <h3>- 14 -</h3>
    <ul>
      <li>
        Now links to images into the RSS feed.xml file have absolute paths.
      </li>
      <li>The RSS feed.xml shows the images correctly.</li>
      <li>"Now" posts are now part of the feed.xml file.</li>
    </ul>
    <h3>- 10 -</h3>
    <ul><li>Upgraded to Astro 5.0.</li></ul>
    <h3>- 09 -</h3>
    <ul>
      <li>Added the <a href="/uses">Uses</a> page.</li><li>
        Fixed margins on mobile layout.
      </li><li>Lists are now rendering inline.</li>
      <li>Smaller fonts on mobile.</li>
      <li>Fixed the header on mobile.</li>
    </ul>
  </section>
</BaseLayout>
