---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Contact';
---

<style>
  .page-title {
    margin-bottom: 2rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <main>
    <h1 class="page-title">{pageTitle}</h1>
    <p>
      Email me at: <a href="mailto:hello@mauromotion.com" <a
        >hello@mauromotion.com</a
      >
      <br />
      <br />
      <p>
        Reach me on <a href="https://mograph.social/@mauro"
          >Mastodon <i class="fa-brands fa-mastodon"></i></a
        >
        <br>
        <br>
        <p>Wanna chat? Hit me up on <a href="https://signal.org/">Signal</a> at <a href="https://signal.me/#eu/CB-0_CHxY9X1Crf7RJqAVPc2EnaWZgNQ2j4NV0bjlO7vXV5VvQ1N_6okmKfltoU7">mmmotion.80</a> </p>
      </p>
    </p>
  </main>
</BaseLayout>
