---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Contact';
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <h1 class="page-title">{pageTitle}</h1>
    <p>Email me at: <a href="#">hello@mauromotion.com</a></p>
  </main>
</BaseLayout>
