---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Contact me';
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <p>Email me at: <a href="#">hello@mauromancer.net</a></p>
  </main>
</BaseLayout>
