---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Contact me';
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <p>Contact content here.</p>
  </main>
</BaseLayout>
