---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Contact';
---

<style>
  .page-title {
    margin-bottom: 2rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <main>
    <h1 class="page-title">{pageTitle}</h1>
    <p>
      Email me at: <a href="mailto:hello@mauromotion.com" <a
        >hello@mauromotion.com</a
      >
      <br />
      <br />
      <p>
        Reach me on <a href="https://mograph.social/@mauro"
          >Mastodon <i class="fa-brands fa-mastodon"></i></a
        >
      </p>
    </p>
  </main>
</BaseLayout>
