---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Contact me';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Contact content here.</p>
</BaseLayout>
