---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection('posts');
const pageTitle = 'Home - Personal website of Mauro Di Ianni';

// Sort posts in reverse chronological order
allPosts.sort(
  (a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate),
);

const postsAmount = 4;
---

<style>
  .welcome-section {
    margin-top: 4rem;
  }
  .welcome-message {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <main>
    <section class="welcome-section">
      <h2>Welcome to my personal website.</h2>
      <p class="welcome-message">
        My name is <a href="/about/">Mauro Di Ianni</a>. Former motion designer,
        current web developer, indieweb advocate, GNU Linux enthusiast, music
        and art lover. <br /><br /> See what I'm doing
        <a href="/now/">Now</a> or read my latest ramblings on the <a
          href="/blog/">Blog</a
        >.
      </p>
    </section>
    <hr />
    <section class="latest-posts">
      <h3>Recent Posts</h3>
      <ul>
        {
          allPosts
            .slice(0, postsAmount)
            .map((post) => (
              <BlogPost
                url={`/posts/${post.slug}/`}
                title={post.data.title}
                date={post.data.title}
              />
            ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
