---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Now - What I'm currently doing";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Now content here.</p>
</BaseLayout>
