---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Resume';
---

<style>
  .page-title {
    margin-bottom: 2rem;
  }

  .pdf-wrapper {
    width: 100%;
    max-width: 800px; /* optional desktop cap */
    aspect-ratio: 210 / 297; /* locks the box to A4 ratio */
  }

  .pdf-wrapper object {
    width: 100%;
    height: 100%;
    display: block; /* remove inline quirks */
  }

  #pdf-viewer {
    margin-top: 2rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <header>
    <h1 class="page-title">{pageTitle}</h1>
  </header>
  <section>
    <a id="download-link" href="/resume_webdev_mauro_di_ianni_2025.pdf"
      >Download the PDF here.</a
    >
    <div class="pdf-wrapper">
      <object
        id="pdf-viewer"
        data="/resume_webdev_mauro_di_ianni_2025.pdf"
        type="application/pdf"
        width="100%"
        height="1000"
      >
        <p>
          Your browser doesn’t support embedded PDFs.
          <a href="/resume_webdev_mauro_di_ianni_2025.pdf"
            >Download the PDF instead.</a
          >
        </p>
      </object>
    </div>
  </section>
</BaseLayout>
