---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Showreels';
---

<style>
  .video-container {
    aspect-ratio: 16/9;
  }
  .video-container iframe {
    margin: 2rem 0 2rem 0;
    border: 0px;
  }

  @media (max-width: 799px) {
    .video-container iframe {
      width: auto;
      height: auto;
    }
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <header>
    <h1 class="page-title">{pageTitle}</h1>
    <p class="italic-text page-explainer">
      Motion Design showreels with work that I crafted in my previous career
      within the advertising and tech industries.
    </p>
  </header>
  <section>
    <div class="video-container">
      <iframe
        title="vimeo-player"
        src="https://player.vimeo.com/video/234858139?h=dc3e309bae"
        width="640"
        height="360"
        allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe
        title="vimeo-player"
        src="https://player.vimeo.com/video/91715860?h=ab686712a7"
        width="640"
        height="360"
        allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe
        title="vimeo-player"
        src="https://player.vimeo.com/video/23058219?h=8fe0c00adf"
        width="640"
        height="360"
        allowfullscreen></iframe>
    </div>
  </section>
</BaseLayout>
