---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Uses';
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="page-title">{pageTitle}</h1>
  <p>Uses content here.</p>
</BaseLayout>
