---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Uses';
---

<BaseLayout pageTitle={pageTitle}>
  <section id="uses-section">
    <h1 class="page-title">{pageTitle}</h1>

    <p class="italic-text page-explainer">
      Current software, services, and devices that I use daily (as of January
      2025).
    </p>

    <h2>Software</h2>
    <h3>The Fundamentals</h3>
    <ul>
      <li>
        Operating System: <a href="https://archlinux.org/">Arch Linux</a> (btw)
      </li>
      <li>
        DE/WM: <a href="https://docs.qtile.org/en/stable/">Qtile</a>
      </li>
      <li>
        Browser: <strike
          ><a href="https://www.mozilla.org/en-GB/firefox/new/">Firefox</a
          ></strike
        >
        <a href="https://www.waterfox.net/">Waterfox</a>
      </li>
    </ul>
    <h3>Productivity</h3>
    <ul>
      <li>
        E-mail &#x26; Calendar: <a href="https://www.thunderbird.net/"
          >Thunderbird</a
        >
      </li>
      <li>
        Tasks: <a href="https://taskwarrior.org/">taskwarrior</a>
      </li>
      <li>
        Notes/PKM: <a href="https://github.com/vimwiki/vimwiki">Vimwiki</a> / <a
          href="https://logseq.com/">Logseq</a
        >
      </li>
    </ul>
    <h3>Web development</h3>
    <ul>
      <li>
        Terminal emulator:
        <a href="https://alacritty.org/">Alacritty</a>
      </li>
      <li>Multiplexer: <a href="https://zellij.dev/">Zellij</a></li>
      <li>
        Shell: <a href="https://www.zsh.org/">zsh</a>
      </li>
      <li>
        Text editor/IDE: <a href="https://neovim.io/">Neovim</a>
      </li>
      <li>
        Browser(s): <a href="https://www.waterfox.net/">Waterfox</a>, , <a
          href="https://github.com/ungoogled-software/ungoogled-chromium"
          >ungoogled-Chromium</a
        >
      </li>
      <li>
        Design/prototyping: <a href="https://www.figma.com/">Figma</a>, <a
          href="https://penpot.app/">Penpot</a
        >
      </li>
    </ul>
    <h3>Music</h3>
    <ul>
      <li>
        <a href="https://www.qobuz.com/">Quobuz</a> (streaming)
      </li>
      <li>
        <a href="https://tauonmusicbox.rocks/">Tauon Music Box</a> (local files)
      </li>
    </ul>
    <h3>Movies/Shows/Videos</h3>
    <ul>
      <li>
        <a href="https://jellyfin.org/">Jellyfin</a> (self hosted)
      </li>
      <li>
        <a href="https://freetubeapp.io/">Freetube</a>
      </li>
    </ul>
    <h3>Podcasts</h3>
    <ul>
      <li>
        <a href="https://pocketcasts.com/">Pocketcasts</a>
      </li>
    </ul>
    <h3>Bookmarks & Read-It-Later</h3>
    <ul>
      <li>
        <a href="https://linkding.link/">Linkding</a> (self hosted)
      </li>
    </ul>
    <h3>RSS aggregator &#x26; readers</h3>
    <ul>
      <li>
        <a href="https://miniflux.app/">Miniflux</a> (self hosted)
      </li>
      <li>
        <a href="https://lireapp.com/">lire</a> as front end for Miniflux on iOS
      </li>
    </ul>
    <h2>Services</h2>
    <h3>Email providers</h3>
    <ul>
      <li>
        <a href="https://mailbox.org/">Mailbox.org</a>
      </li>
      <li>
        <a href="https://disroot.org/en">Disroot</a>
      </li>
    </ul>
    <h3>Search providers</h3>
    <ul>
      <li>
        <a href="https://duckduckgo.com/">DuckDuckGo</a>
      </li>
      <li>
        <a href="https://kagi.com/">Kagi</a> (from time to time)
      </li>
    </ul>
    <h3>Cloud</h3>
    <ul>
      <li>
        <a href="https://nextcloud.com/">Nextcloud</a> via <a
          href="https://disroot.org/">Disroot</a
        >
      </li>
    </ul>
    <h3>Version Control</h3>
    <ul>
      <li>
        <a href="https://forgejo.org/">Forgejo</a> via <a
          href="https://disroot.org/en">Disroot</a
        >
      </li>
      <li>
        <a href="https://github.com/mauromotion">GitHub</a>
      </li>
    </ul>
    <h3>Password manager</h3>
    <ul>
      <li><a href="https://bitwarden.com/">Bitwarden</a></li>
    </ul>
    <h2>Devices</h2>
    <h3>Desktop PC</h3>
    <p>Custom built:</p>
    <ul>
      <li>Motherboard: Asus ROG Crosshair VIII</li>
      <li>CPU: AMD Ryzen 9 3950X</li>
      <li>RAM: 64 Gb</li>
      <li>GPU: Asus ROG Strix NVIDIA GeForce RTX 2080 Ti</li>
    </ul>
    <h3>Laptop</h3>
    <ul>
      <li><del>Gigabyte Aero 15 (2018) (with Arch, btw)</del> ✝</li>
      <li>Thinkpad X1 Carbon gen 9 (with Arch, btw)</li>
    </ul>
    <h3>Smartphone</h3>
    <ul>
      <li>
        <span>iPhone 11 pro</span>
      </li>
    </ul>
    <h3>Server / Tiny homelab</h3>
    <ul>
      <li>
        <span>Raspberry Pi 5, 8Gb RAM</span>
      </li>
    </ul>
    <h3>Monitors</h3>
    <ul>
      <li>
        <span>Dell S2721DGF, 27", 1440p, @165hz</span>
      </li>
      <li>
        <span>Dell U2713HM, 27", 1440p, @60hz</span>
      </li>
    </ul>
    <h3>Keyboards</h3>
    <ul>
      <li>
        <a href="https://github.com/davidphilipbarr/Sweep">Ferris Sweep</a> (my main)
      </li>
      <li>
        <a href="https://github.com/foostan/crkbd/tree/4_2?tab=readme-ov-file"
          >Corne</a
        > (my first split love)
      </li>
      <li>
        <a href="https://blog.zsa.io/2307-goodbye-planck-ez/">(S)Plank EZ</a> (my
        little helper)
      </li>
      <li>
        <span>Capsunlocked CU65 (for gaming)</span>
      </li>
      <li>
        <span>Anne Pro 2 (collecting dust)</span>
      </li>
    </ul>
    <h3>Mouse</h3>
    <ul>
      <li>
        <a href="https://www.razer.com/mena-en/gaming-mice/razer-viper-ultimate"
          >Razer Viper Ultimate</a
        >
      </li>
      <li>
        <a
          href="https://www.kensington.com/en-gb/p/products/control/trackballs/slimblade-pro-trackball-1/"
          >Kensington SlimBlade Pro Trackball</a
        >
      </li>
    </ul>
    <h3>Gaming controllers</h3>
    <ul>
      <li>
        <a href="https://en.wikipedia.org/wiki/Steam_Controller"
          >The OG Steam Controller</a
        >
      </li>
      <li>
        <span>Xbox 360 Controller</span>
      </li>
    </ul>
  </section>
</BaseLayout>
