---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Uses';
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <h1 class="page-title">{pageTitle}</h1>
    <p>Coming soon.</p>
  </main>
</BaseLayout>
