---

---

<style>
  #all-posts-button {
    padding: 1rem 1.5rem;
    margin-top: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--color-background-secondary);
    color: #efe8e3;
    text-decoration: none;
    border-radius: 5px;
  }
</style>

<a id="all-posts-button" href="/posts/1/">View all posts</a>
