---

---

<style>
  footer {
    background-color: #2e3440;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    /* max-width: 1200px; */
    padding: 40px 20px;
    bottom: 0;
    left: 0;
    width: max-width;
    z-index: 1000;
    gap: 0.5rem;
  }
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
</style>

<footer>
  <!-- <span> © 2024 - Mauro Di Ianni.</span><span>Handcrafted with Astro.</span> -->
  <span>© 2024 Mauro Di Ianni </span><span> • all articles under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Commons CC BY-NC-SA 4.0</a> license </span> <span> • made with Astro and elbow grease.</span>
</footer>
