---

---

<style>
  footer {
    background-color: var(--darker-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:baseline;
    font-size: 16px;
    /* max-width: 1200px; */
    padding: 40px 20px;
    position:relative;
    /* bottom: 0; */
    /* left: 0; */
    width: max-width;
    /* z-index: 1000; */
    gap: 0.5rem;
    margin-block-start: 4rem;
    padding-block: 4rem;
    margin-top: 10rem;
  }
  #footer-links {
    display: flex;
    font-size:larger;
    gap: 1rem;
  }
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
</style>

<footer>
  <div id="footer-links"><a href="/uses/">Uses</a><a href="/contact/">Contact</a><a href="`${Astro.site}feed.xml`">RSS</a></div>
  <span>© 2024 Mauro Di Ianni </span><span> • all articles under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Commons CC BY-NC-SA 4.0</a> license </span> <span> • made with Astro and elbow grease.</span>
</footer>
