---
import Navigation from './Navigation.astro';
import Logo from './Logo.astro';
import Toggle from './Toggle.astro';
---

<style>
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin: 0 3rem 1.5rem 3rem;
    border-bottom: 1px solid var(--color-text);
  }

  header a {
    text-decoration: none;
  }

  #logotype {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }
  #logo-text {
    font-size: 2.5rem;
  }

  .logo-image {
    width: 2rem;
    height: auto;
  }

  :global(#theme-toggle) {
    cursor: pointer;
    margin-bottom: 1rem;
  }

  @media (max-width: 799px) {
    header {
      flex-direction: column;
      align-items: center;
    }

    #logo-text {
      font-size: 1.8rem;
    }

    .logo-image {
      width: 1.5rem;
      height: auto;
    }
    :global(#theme-toggle) {
      position: absolute;
      top: 2.3rem;
      right: 1rem;
      cursor: pointer;
      margin: 1rem;
    }
  }
</style>
<header>
  <div id="logotype">
    <h2 id="logo-text">
      <a href="/">Mauromotion</a>
    </h2>
    <Logo className="logo-image" />
  </div>
  <Navigation />
  <Toggle id="theme-toggle" />
</header>
