---
import Navigation from './Navigation.astro';
---

<style>
  header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-bottom-width: 1px;
    border-bottom-color: var(--dark-text);
    border-bottom-style: solid;
  }

  #logotype {
    width: 20rem;
  }
</style>

<header>
  <div id="logotype">
    <h2>
      <a href="/">Mauromotion</a>
    </h2>
  </div>
  <Navigation />
</header>
