---
import Navigation from './Navigation.astro';
---

<style>
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin: 0 3rem 1.5rem 3rem;
    /* padding: 0.5rem; */
    border-bottom: 1px solid var(--dark-bg);
  }

  header a {
    text-decoration: none;
  }

  /* header a:hover { */
  /*   text-decoration: none; */
  /* } */

  #logotype {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #logo-text {
    font-size: 2.5rem;
  }
  #logo-image {
    width: 2rem;
  }
</style>

<header>
  <div id="logotype">
    <h2 id="logo-text">
      <a href="/">Mauromotion</a>
    </h2>
    <img id="logo-image" src="/mauromotion-icon.svg" alt="logo" />
    <!-- <Logo /> -->
  </div>
  <Navigation />
</header>
