---
import Navigation from './Navigation.astro';
---

<style>
  header {
    text-align: center;
    margin: 2rem;
  }

  header h1 {
    margin: 4rem;
    /* font-family: 'Orbitron'; */
    /* font-style: italic; */
    font-size: 4rem;
    text-align: center;
  }
  header a {
    color: fuchsia;
  }

  header a:hover {
    color: cyan;
  }
</style>

<header>
  <Navigation />
  <h1 class="mauromotion-title"><a href="/">mauromotion</a></h1>
</header>
