---
import Navigation from './Navigation.astro';
---

<style>
  header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    /* text-align: center; */
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: var(--darker-bg-color);
  }

  #mauromotion-title a {
    color: var(--color-green);
  }

  #mauromotion-title a:hover {
    color: var(--color-yellow);
  }
</style>

<header>
  <h2 id="mauromotion-title"><a href="/">mauromotion</a></h2>
  <Navigation />
</header>
