---
import Navigation from './Navigation.astro';
import Logo from './Logo.astro';
---

<style>
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin: 0 3rem 1.5rem 3rem;
    border-bottom: 1px solid var(--color-text);
  }

  header a {
    text-decoration: none;
  }

  #logotype {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    padding: 0;
  }
  #logo-text {
    font-size: 2.5rem;
  }

  .logo-image {
    display: flex; /* Ensure the SVG aligns properly inside */
    align-items: center; /* Align vertically */
    width: 2rem; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
  }

  .logo-image svg {
    width: 100%; /* SVG fills the wrapper */
    height: auto;
    display: block; /* Avoid inline SVG quirks */
  }

  @media (max-width: 799px) {
    header {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    #logotype {
      text-align: center;
    }

    #logo-text {
      font-size: 1.8rem;
      padding-top: 0;
      margin-top: 1rem;
    }

    .logo-image {
      width: 1.5rem;
      height: auto;
    }
  }
</style>
<header>
  <div id="logotype">
    <h2 id="logo-text">
      <a href="/">Mauromotion</a>
    </h2>
    <div class="logo-image">
      <Logo />
    </div>
  </div>
  <Navigation />
</header>
