<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4rem;
    font-weight: 700;
  }

  nav a {
    color: white;
  }

  nav a:hover {
    color: cyan;
  }
</style>

<nav>
  <a href="/now/">Now</a>
  <a href="/blog/">Blog</a>
  <a href="/about/">About</a>
  <a href="/uses/">Uses</a>
  <a href="/contact/">Contact</a>
  <a href="#">RSS</a>
</nav>
