<style>
  nav {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    font-weight: 700;
    gap: 2rem;
  }

  nav a {
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: underline;
  }
</style>

<nav>
  <a href="/now/">Now</a>
  <a href="/blog/">Blog</a>
  <a href="/about/">About</a>
  <!-- <a href="/uses/">Uses</a> -->
  <!-- <a href="/contact/">Contact</a> -->
  <!-- <a href=`${Astro.site}feed.xml`>RSS</a> -->
  <i class="fa-solid fa-moon"></i>
</nav>
