---
import Toggle from './Toggle.astro';
import ThemeSelect from '../components/ThemeSelect.astro';
---

<style>
  nav {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    font-weight: 700;
    gap: 2rem;
  }

  nav a {
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: underline;
  }

  #theme-switcher:hover {
    color: var(--color-accent-cyan);
  }

  :global(#theme-toggle) {
    cursor: pointer;
    /* margin-bottom: 0.2rem; */
    margin-top: 0.5rem;
    margin-left: 8rem;
  }
  @media (max-width: 799px) {
    nav {
      gap: 1.5rem;
      margin-top: 2rem;
    }

  :global(#theme-toggle) {
    margin-left: 0;
  }
</style>

<nav>
  <a href="/now/">Now</a>
  <a href="/blog/">Blog</a>
  <a href="/about/">About</a>
  <!-- <a href="/uses/">Uses</a> -->
  <!-- <a href="/contact/">Contact</a> -->
  <a href=`${Astro.site}feed.xml`><i class="fa-solid fa-square-rss"></i></a>
  <!-- <Toggle id="theme-toggle" /> -->
  <ThemeSelect id="theme-toggle"/>
</nav>
