---
import ThemeSelect from '../components/ThemeSelect.astro';
---

<style>
  nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    font-weight: 700;
    gap: 2rem;
  }

  nav a {
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: underline;
  }

  #theme-toggle {
    margin-top: 1rem;
  }

  @media (max-width: 799px) {
    nav {
      gap: 1.5rem;
      margin-top: 2rem;
    }

</style>

<nav>
  <a href="/now/">Now</a>
  <a href="/posts/1/">Blog</a>
  <a href="/about/">About</a>
  <!-- <a href="/uses/">Uses</a> -->
  <!-- <a href="/contact/">Contact</a> -->
  <a href=`${Astro.site}feed.xml`><i class="fa-solid fa-square-rss"></i></a>
  <div id="theme-toggle">
    <ThemeSelect />
  </div>
</nav>
