---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ThemeManager from '../components/ThemeManager.astro';
const { pageTitle } = Astro.props;
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <ThemeManager />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=cambo:400|inter:400,800"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="mauromotion's personal website"
      href={new URL('rss.xml', Astro.site)}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow, noai, noimageai" />
    <meta name="pinterest" content="nopin" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - mauromotion.com</title>
  </head>
  <body>
    <style is:global>
      :root,
      :root[data-theme='light'] {
        --color-background: #efe8e3;
        --color-background-secondary: #242424;
        --color-text: #242424;
        --color-text-alternate: #efe8e3;
        --color-accent-orange: #e66937;
        --color-accent-lightorange: #f0b979;
        --color-accent-cyan: #9dceca;
        color-scheme: light;
      }

      @media (prefers-color-scheme: dark), :root[data-theme='auto'] {
        :root {
          --color-background: #242424;
          --color-background-secondary: #2d2c2b;
          --color-text: #efe8e3;
          --color-text-alternate: #242424;
          --color-accent-orange: #e66937;
          --color-accent-lightorange: #e66937;
          --color-accent-cyan: #9dceca;
          color-scheme: dark;
        }
      }
      :root[data-theme='dark'] {
        --color-background: #242424;
        --color-background-secondary: #2d2c2b;
        --color-text: #efe8e3;
        --color-text-alternate: #242424;
        --color-accent-orange: #e66937;
        --color-accent-lightorange: #e66937;
        --color-accent-cyan: #9dceca;
        color-scheme: dark;
      }
    </style>
    <div class="wrapper">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
      <a
        rel="me"
        class="visually-hidden"
        aria-hidden="true"
        href="https://mograph.social/@mauro">Mastodon verification link</a
      >
    </div>
  </body>
</html>
