---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = 'Front End Portfolio';
---

<style>
  header {
    margin-bottom: 2rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <header>
    <h1 class="page-title">{pageTitle}</h1>
    <p class="italic-text page-explainer">
      Practice projects I made to learn Front End development with ReactJS. You
      can find the source code <a
        href="https://github.com/mauromotion/mauromotion_com/tree/main/src/react_practice_projects"
        target="_blank">here</a
      >.
    </p>
  </header>

  <section>
    <ul>
      <li>
        <a href="/portfolio/tip-calculator" target="_blank">Tip Calculator</a>
      </li>
      <li>
        <a href="/portfolio/budget-tracker" target="_blank"
          >Budget Tracker (Mobile version is WIP)</a
        >
      </li>
    </ul>
  </section>
</BaseLayout>
